
h1 {
	color: #ffc;
    background-color: #33cc33;
    font-size: 2;
    margin: 0;
    margin-bottom: 7px;
    padding: 4px;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 0.5em;
    border-bottom-color: #663399;
	font-family: roboto;
}
h3 {
	background-color: #687;
	word-spacing: 1.5em;
	font-family: arial, sanf-serif;
}









